<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
@if (ViewBag != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>Моя компанія</title>
}
@if (ViewBag.Discription != null)
{
    <meta name="description" content="@ViewBag.Discription"/>
}
@if (ViewBag.Keywords != null)
{
    <meta name="keywords" content="@ViewBag.Keywords"/>
}
